%li
  .span4
    %h4
      =course.title
      %span.institution
        #{course.institution.name}
        - if course.institution.dropout_rate.present?
          (Dropouts: #{course.institution.dropout_rate}%)
    %p
      %span.salary #{number_to_currency(course.the_salary.instmed, {:unit => '£', :precision => 0})}
      %span.range
        (#{number_to_currency(course.the_salary.instlq, {:unit => '£', :precision => 0})}&mdash;
        #{number_to_currency(course.the_salary.instuq, {:unit => '£', :precision => 0})})

      %span.ofaverage
      - if course.the_salary.instmed >= 21326
        +#{(course.the_salary.instmed*100/21326)-100}% UK average
      -else
        #{(course.the_salary.instmed*100/21326)-100}% UK average
	

  .span1
    %a.stuff-link{:href => course.course_url} i
